<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment Confirmation: Vehicle Rental</title>
</head>
<body>
    <p>Dear {{ client }},</p>
    <p>We hope this message finds you well. We would like to confirm the booking of your vehicle for the specified date below:</p>
    <ul>
        <li>Booking Date: {{ date }}</li>
        <li>Vehicle Type: {{ vehicle }}</li>
    </ul>
    <p>Additionally, we would like to provide some additional information to ensure a smooth experience during your rental:</p>
    <p></p>
    <p>Required Documents: Please ensure to bring a copy of your identification, driver's license, and proof of residence.</p>
    <p>Fuel Policy: The vehicle will be delivered with a full tank, and we kindly ask that it is returned in the same condition. Otherwise, a refueling fee will be applied.</p>
    <p>Insurance: All our vehicles come with basic insurance. We offer additional coverage options if you are interested.</p>
    <p>Pick-up Location: The vehicle pick-up location is {{ branch }}. Please make sure to arrive promptly to avoid any delays.</p>
    <p>Emergency Contact: In case of any issues during the rental, please contact us at 01 12345-6789.</p>
    <p></p>
    <p>We look forward to serving you and providing an outstanding vehicle rental experience. If you have any questions or special requests, feel free to let us know in advance.</p>
    <p></p>
    <p>Thank you for choosing our services, and we wish you a fantastic journey!</p>
    <p></p>
    <p>Best regards,</p>
    <p>Rental Company</p>
</body>
</html>