<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Devolution Notice</title>
</head>
<body>
    <p>Dear {{ client }},</p>
    <p>We hope this email finds you well. We are writing to inform you about the devolution of the vehicle with the following details:</p>
    <ul>
        <li>Vehicle Type: {{ vehicle }}</li>
        <li>Date of Rental Initiation: {{ start_date }}</li>
        <li>Expected Date of Rental Termination: {{ end_date }}</li>
    </ul>
    <p>The vehicle is in good condition and has been maintained according to the terms outlined in our rental agreement. Prior to returning the vehicle, we have ensured that it has been cleaned and all personal belongings have been removed.</p>
    <p></p>
    <p>As per our agreement, we are returning the vehicle on {{ end_date }}, within the agreed-upon time frame.</p>
    <p></p>
    <p>You can conveniently return the vehicle at any of our branches. However, please take a moment to review our return policy, especially if the branch where you originally picked up the vehicle differs from the branch where you plan to return it. In such cases, a return fee may apply. The address of your outlet branch is {{ branch }}.</p>
    <p></p>
    <p>Please conduct a thorough inspection of the vehicle upon receipt and notify us promptly if there are any discrepancies or issues that require attention. We trust that the vehicle will meet your standards, and we appreciate your prompt confirmation of the successful devolution.</p>
    <p></p>
    <p>Thank you for your understanding and cooperation throughout the rental period. We look forward to receiving confirmation of the successful devolution of the vehicle.</p>
    <p></p>
    <p>Best regards,</p>
    <p>Rental Company</p>
</body>
</html>