<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Urgent: Notification of Delayed Vehicle Devolution and Fine Information</title>
</head>
<body>
    <p>Dear {{ client }},</p>
    <p>We hope this email finds you well. We appreciate your business and would like to bring to your attention a matter regarding the late devolution of the vehicle you rented from our company. It has come to our notice that the vehicle has not been returned within the agreed-upon timeframe.</p>
    <p></p>
    <p>As per our rental agreement terms and conditions, a late fee is applicable for each day the vehicle is not returned beyond the agreed-upon return date. We understand that unforeseen circumstances may arise, and we are here to assist you. However, it is crucial to address this matter promptly to avoid further escalation of charges.</p>
    <p></p>
    <p>Late Devolution Details:</p>
    <p></p>
    <ul>
        <li>Vehicle: {{ vehicle }}</li>
        <li>Rental Start Date: {{ start_date }}</li>
        <li>Agreed-upon Return Date: {{ end_date }}</li>
    </ul>
    <p>Action Required:</p>
    <p></p>
    <p>We kindly request you to return the vehicle at your earliest convenience to avoid additional charges. If you are facing any challenges or require assistance, please contact our customer service at 01 12345-6789 or rentalcompany@email.com. We are here to work with you to find a solution.</p>
    <p></p>
    <p>Your prompt attention to this matter is greatly appreciated. We value your business and want to ensure a positive experience for you with Rental Company.</p>
    <p></p>
    <p>Thank you for your understanding.</p>
    <p></p>
    <p>Best regards,</p>
    <p>Rental Company</p>
</body>
</html>